.stars {
  position: relative;
  display: flex;
  padding-right: 90px;
  padding-left: 90px;
  padding-top: 100px;
  padding-bottom: 80px;
  background-color: #ffeead;
  background-image: url("../../assets/images/stars-image.svg");
  background-position: left bottom;
  background-size: 449px 304px;
  background-repeat: no-repeat;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}

.stars::before {
  position: absolute;
  top: 36px;
  left: 0;
  width: 213px;
  height: 170px;
  content: "";
  background-image: url("../../assets/images/stars-left.svg");
  background-size: contain;
  background-repeat: no-repeat;
}

.stars::after {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 111px;
  height: 158px;
  content: "";
  background-image: url("../../assets/images/stars-right.svg");
  background-size: contain;
  background-repeat: no-repeat;
}

.stars__list {
  margin-top: 44px;
  margin-bottom: 44px;
  padding: 0;
  text-align: center;
  margin-left: -20px;
  font-size: 0;
  line-height: 0;
}

.stars_item {
  display: inline-block;
  list-style: none;
  margin-left: 20px;
  margin-top: 20px;
  text-align: left;
  font-size: 18px;
  line-height: 27px;
  overflow: hidden;
}
